
.slider{
  position: relative;
  background-repeat: no-repeat;
  background-image: url(../../../img/carouselFirst.png);
  background-position: center;
  min-height: 410px;
  margin: 0;
  top: 0;
  padding: 0;
  background-size: cover;
}
  .slider_itemContent {
    text-align: left;
    padding-left: 200px;
    margin: 0 auto;
    position: absolute;
    top: 26%;
  
  }
  .slider_title{
    font-size: 54px;
    line-height: 65px;
    color: #F5F3F2;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
  }
.slider_text{
    line-height: 44px;
    font-size: 36px;
    color: #F5F3F2;
    margin-bottom: 50px;
  }
 