.mainStyle{
    background-image: url(../../../img/banner_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 453px;
    margin: 0;
    top: 0;
    padding: 0;
    position: relative;
  }

  .content{
    position: absolute;
    padding-block: 128px;
  }
  .text{
    margin: auto;
    
    width: 480px;
    height: 86px;
    text-align: left;
    font-family: Segoe UI;
    letter-spacing: 0px;
    color: #F5F3F2;
    font-size:29px;
    font-weight: 600;
  }
  .button{
    margin-top: 32px;
    position: absolute;
  }