.popup {  
    position: absolute;  
    width: 320px;
    height: 150px; 
    margin: auto;  
    padding: 16px;
    background-color: #686261;  
    color: #F5F3F2;
    z-index: 1;
    font-family: 'Roboto';  
    letter-spacing: 0px;
    font-size: 16px;
    right: 200px;
  }
  