$primary: #cf8957;
$primary-light: #ffb985;
$primary-dark: #bf7135;
$secondary: #7a7674;
$secondary-light: #948886;
$secondary-dark: #5a4a41;
$bg-white: #f7f6f5;
$surf-grey: #393939;
$text-dark: #3d3d3b;
$text-light: #443f3c;
$white-dark: #f5f3f2;
$white-light: #f5f3f2;
