.header {
  background-color: #7a7674;
  padding: 12px 0;
  position: static;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_logo {
      position: relative;
    }
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 32px;

      @media screen and (max-width: 992px) {
        display: none;
      }
    }

    &_userLine {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;

      @media screen and (max-width: 992px) {
        display: none;
      }
      div {
        cursor: pointer;
      }
      &_basket {
        position: relative;

        &_basketCount {
          position: absolute;
          border-radius: 50%;
          text-align: center;
          font-size: 13px;
          width: 15px;
          height: 15px;
          background-color: #cf8957;
          bottom: -10px;
          right: -10px;
        }
      }
    }
    &__burger{
      display: none;
      @media screen and (max-width: 992px) {
        display: block;
      }
    }
  }
  svg {
    width: 18px;
    height: 18px;
  }
}

