.cardContainer{
    background-color: #686261;
    width: 432px;
    min-height: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 32px auto;
    text-align: center;
    opacity: 1;
    position: relative;
}
.card{
    height: 445px;
    border-radius: 20px;
    width: 432px;
    
}

.cardInfoContent{
    margin: 5px;
}
.cardTitle{
    float: left;
    
}
.cardPrice{
    float: right;
    font-size: 36px;
}
.cardAction{
    display: inline-flex;
}
.btn{
    margin-left: 256px;
    float: left;
}
.iconBasket{
    background-color:#CF8957;
    border-radius: 4px;
    opacity: 1;
    width: 36px;
    height: 36px;
    display:table;
    float: right;

}

.smallCardContainer{
    background-color: #686261;
    width: 316px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 32px auto;
    text-align: center;
    opacity: 1;
    position: relative;
}
.smallCard{
    height: 323px;
    border-radius: 20px;
    width: 316px;
    
}

.smallCardInfoContent{
    margin: 5px;

}
.smallCardTitle{
    float: left;

}
.smallCardPrice{
    float: right;
    font-size: 24px;
}
.smallCardAction{
    position: absolute; 
    display: flex;
    padding-left: 10px;
    
}
.smallBtn{
    margin-left: 150px;
    text-align: center;

}
.SmallIcon{
    background-color:#CF8957;
    border-radius: 4px;
    opacity: 1;
    width: 24px;
    height: 24px;
    display:table;
}

.like{
    top: 24px;
    right: 24px;
    position: absolute;
    background-color: #CF8957;
    width:40px;
    height:40px;
}
.likeSmall{
    top: 13px;
    right: 13px;
    position: absolute;
    background-color: #CF8957;
}
