.container {
  background-image: url(../../../img/gift_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 453px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;

  @media screen and (max-width: 992px) {
    height: 300px;
  }

  @media screen and (max-width: 576px) {
    height: 150px;
  }

  &__content {
    display: flex;
      justify-content: end;
      flex-direction: column;

    &_text {
      padding: 23px 50px 25px 35px;
      max-width: 678px;
      width: 100%;
      background-color: #686261;
      border-radius: 4px;
      text-align: center;
      font-family: Segoe UI;
      letter-spacing: 0px;
      line-height: 44px;
      color: #f5f3f2;
      font-size: 29px;
      font-weight: 600;

      @media screen and (max-width: 992px) {
        font-size: 24px;
        max-width: 500px;
        line-height: 30px;
        padding: 10px ;

      }
      @media screen and (max-width: 576px) {
        max-width: 220px;
        font-size: 12px;
        line-height: 16px;

      }
    
    }

    &_button {
      margin-top: 16px;
      width: 160px;
      height: 56px;
      border-radius: 4px;
      
      @media screen and (max-width: 992px) {
        width: 80px;
        height: 37px;
        font-size: 12px;
      }
      @media screen and (max-width: 576px) {
        width: 60px;
        height: 24px;
        font-size: 8px;

      }
    }
  }
}
