.pagination{
   
    margin-top: 50px;
    width: fit-content;
    float: right;
}
.productList{
    max-width: 1020px;
}
.productSection{
    position: relative;
    display: flex;
    color: #3D3D3B;
    margin-top: 80px;

}
