.pagination{
   
    margin-top: 50px;
    width: fit-content;
    float: right;
}

.productList{
    max-width: 1020px;
}
.productSection{
    position: relative;
    display: flex;
    color: #3D3D3B;
    margin-top: 80px;

}
.filterTitle{
    font-size: 24px;
}
.filterContainer{
    width: 218px;
    margin-right: 133px;
}
.filterCheck{
    display: grid;
    text-align: left;
}
.filterCheck input{
    float: right;
}