.footerContainer {
  background-color: #7a7674;
}
.footerRows {
  font-size: 16px;
  letter-spacing: 0px;
  color: #f5f3f2;
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  gap: 32px;
}
.footerText {
  max-width: 261px;
  width: 100%;
  margin: 24px 0;
}

.footerHeader {
  font-size: 24px;
}

.ulStyle {
  list-style-type: none;
}
.liStyle {
  text-decoration: none;
  font-size: 16px;
}

.button {
  width: 60px;
  height: 41px;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0px;
  opacity: 1;
  background: #8d8383;
  border-radius: 10px;
}
.input {
  width: 182px;
  height: 39px;
  background: #f5f3f2;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  color: #343333;
  letter-spacing: 0px;
  background-color: "#f2f2f2";
}
.subscribe {
  display: flex;
  align-items: center;
}
.subscribeContent {
  padding-top: 20px;
}
.social {
  margin-right: 16px;
  margin-bottom: 16px;
}
